{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuerry-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- Bootstrap Icon CDN -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>구ㅎ11조</title>
    <link rel="icon" href="{% static '/images/logo_con_bg.png' %}">
    {% block css %}{% endblock css %}
  </head>

  <body>

{% include 'navbar.html' %}

      <!-- 본문 content block -->
      {% block content %}{% endblock content %}

    </div>

    <!-- Footer -->
    <footer class="footer bg-light" style="height:150px; bottom: 0;">
      <div class="container">
        <p class="pt-5 main_color1"><span class="fw-bold">[11조 구ㅎ11조]</span> 강동현 김명환 김지영 김현정 이진욱</p>
        <p class="main_color2">Copyright © 2022 All rights reserved. Contact webmaster for more information.</p>
      </div>
    </footer>

<!-- Channel Plugin Scripts -->
<script type="text/javascript" src="/static/js/channelTalk.js"></script>
<!-- End Channel Plugin -->
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block script %}{% endblock script %}

  </body>

</html>
