{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuerry-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- Bootstrap Icon CDN -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>구ㅎ11조</title>
    <link rel="icon" href="{% static '/images/logo.png' %}">
    {% block css %}{% endblock css %}
  </head>

  <body>
    <!-- Navbar -->
    <div class='wrapper'>
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <!-- LOGO -->
            <a class="navbar-brand" href="{% url 'articles:index' %}"><img src="{% static '/images/logo.png' %}" style="width:50px; height:50px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link fw-bold" aria-current="page" href="{% url 'articles:index' %}">채용</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold" href="{% url 'posts:index' %}">커뮤니티</a>
                </li>
              </ul>
              <div class="me-5">
                <form class="d-flex" role="search">
                  <input class="form-control me-auto" type="search" placeholder="Search" aria-label="Search" style="width:500px;">
                  <button class="btn btn-outline-success ms-2" type="submit">검색</button>
                </form>
              </div>
              {% if request.user.is_authenticated %}
              <a class='btn login_btn ms-auto' href="{%url 'accounts:note' %}" target=”_blank” onClick="window.open(this.href, '', 'width=400, height=430 left=100px,top=100px'); return false;">쪽지함</a>
              <a class='btn login_btn ms-auto' href="{%url 'accounts:detail' user.pk %}">마이페이지</a>
              <a class='btn signup_btn ms-2' href="{%url 'accounts:logout' %}">로그아웃</a>
              {% else %}
              <a class='btn login_btn ms-auto' href="{%url 'accounts:login' %}">로그인</a>
              <a class='btn signup_btn ms-2' href="{%url 'accounts:signup' %}">회원가입</a>
              {% endif %}

            </div>
          </div>
        </nav>
        {% if request.user.is_authenticated %}
        <span><a class='text-decoration-none'href="{% url 'accounts:detail' request.user.pk %}">{{ request.user.username }}</a>님, 어서오세요!</span>
        {% else %}
        <span>방문해주셔서 감사합니다! 서비스를 이용하시려면 <a href="{% url 'accounts:signup' %} ">회원가입</a> 또는 <a href="{% url 'accounts:login' %} ">로그인</a>을 해주세요. 😎</span>
        {% endif %}


      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>

      <!-- 본문 content block -->
      {% block content %}{% endblock content %}

    </div>

    <!-- Footer -->
    <footer class="footer bg-light" style="height:150px; bottom: 0;">
      <div class="container">
        <p class="pt-5">[11조 구ㅎ11조] 강동현 김명환 김지영 김현정 이진욱</p>
        <p>Copyright © 2022 All rights reserved. Contact webmaster for more information.</p>
      </div>
    </footer>

    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block script %}{% endblock script %}

  </body>

</html>
