html,body{
  width: 100%;height: 100%;
}
.wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
}
.footer{
  position: relative;
  transform: translateY(-100%);
}
.login_btn{
  background-color:  #7689DE;
  color: white;
}
.signup_btn {
  background-color:  #A9DCE3;
  color: white;

}
.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.main_color1 {
  color:  #7689DE;
}

.main_color2 {
  color:  #A9DCE3;
}