{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<div class="container mt-3" style="width:30%">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-muted" id="follwing-tab" data-bs-toggle="tab" data-bs-target="#follwing" type="button" role="tab" aria-controls="follwing" aria-selected="false">
        팔로잉 목록 <span class="badge text-bg-secondary">{{ user.follow.count }}명</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-muted" id="follower-tab" data-bs-toggle="tab" data-bs-target="#follower" type="button" role="tab" aria-controls="follower" aria-selected="true">
        팔로워 목록 <span class="badge text-bg-secondary">{{ user.followers.count }}명</span>
      </button>
    </li>
  </ul>
  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="follwing" role="tabpanel" aria-labelledby="follwing-tab">
      {% if user.follow.count != 0 %}
        {% for following in followings %}
          <div class="d-flex justify-content-between">
              <div class="mb-3">
                <a class="text-dark" href="{% url 'accounts:detail' following.pk %}" style="text-decoration: none;">
                  {% if following.profile %}
                    <img class='rounded-circle' style='height:50px;width:50px;' src="{{ following.profile.url }}" alt="{{ user.profile }}">
                  {% else %}
                    <img class='rounded-circle' style='height:50px;width:50px;' src="{% static '/images/profile/user.png'%}" alt="user">
                  {% endif %}
                  <span class="fs-5">{{ following.username }}</span>
                </a>
              </div>           
            <form id='follow-form' data-user-id="{{ following.pk }}" method='POST'>
              {% csrf_token %}
              <input type="submit" value="삭제" class='btn btn-sm signup_btn fw-bold'>
            </form>
          </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="text-muted text-center">
          앗!😐 팔로잉한 사용자가 없어요.
        </div>
      {% endif %}
    </div>

    <div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">
      {% if user.followers.count != 0 %}
        {% for follower in followers %}
          <div class="d-flex justify-content-between">
            <div class="mb-3">
              <a class="text-dark" href="{% url 'accounts:detail' follower.pk %}" style="text-decoration: none;">
                {% if follower.profile %}
                  <img class='rounded-circle' style='height:50px;width:50px;' src="{{ follower.profile.url }}" alt="{{ user.profile }}">
                {% else %}
                  <img class='rounded-circle' style='height:50px;width:50px;' src="{% static '/images/profile/user.png'%}" alt="user">
                {% endif %}
                <span class="fs-5">{{ follower.username }}</span>
              </a>
            </div>
            <form id='follow-form' data-user-id="{{ user.pk }}" method='POST'>
              {% csrf_token %}
              <input type="submit" value="삭제" class='btn btn-sm signup_btn fw-bold'>
            </form>
            </div>
        {% endfor %}
      {% else %}
        <div class="text-muted text-center">
          앗!😐 팔로워한 사용자가 없어요.
        </div>
      {% endif %}
    </div>
    </div>
  </div>

  {% endblock content %}