{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="login_page">
      <h1 class="fw-bold main_color1"><img src="{% static '/images/logo.png'%}" style="width:100px;height:100px;">LOGIN</h1>
      <form action="" method='POST'>
        {% csrf_token %}
        <div style="width:400px;">
          <input class="form-control my-4" type="text" name="username" autofocus="autofocus" autocapitalize="none" maxlength="150" placeholder="아이디" required="required" id="id_username">
          <input class="form-control my-4" type="password" name="password" placeholder="비밀번호" required="required" id="id_password">
        </div>
        <div class='text-center'>
          <div>
            <button type="submit" class="btn login_btn">로그인</button>
            <a class="btn signup_btn" href="{% url 'articles:index' %}">홈으로 돌아가기</a>
          </div>
          <div>
            <h2 class="main_color1 fw-bold mt-5">
            Social 로그인
            </h2>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
              <img src="{% static '/images/google.png'%}" style="width:50px;height:50px;">
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}