{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="login_page">
    {% if request.resolver_match.url_name == 'signup' %}
    <h1 class="fw-bold" style='color:#7689DE'><img src="{% static '/images/logo.png'%}" style="width:100px;height:100px;">회원가입</h1>
      <p class="main_color2">구ㅎ11조에 오신 것을 환영합니다. 보다 더 좋은 서비스를 누리기 위한 회원가입이 필요합니다!</p>
    {% else %}
      <h1 class="fw-bold mt-2 mb-3 main_color1">회원정보 수정</h1>
    {% endif %}
      <form action="" method='POST' enctype="multipart/form-data">
      </form>
        {% csrf_token %}
        <!--{% bootstrap_form form %}-->
        {% if request.resolver_match.url_name == 'signup' %}
          <form action="{% url 'accounts:signup' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div style="width:400px;">
              <label class="main_color1 fw-bold">아이디</label>
              <input class="form-control my-2 mb-4" type="text" name="username" autofocus="autofocus" autocapitalize="none" maxlength="150" placeholder="아이디" required="required" id="username">
              <label class="main_color1 fw-bold">비밀번호</label>
              <span class="form-text">
                8자리 이상 / 영문, 숫자, 특수문자 각 1개 이상 포함
              </span>
              <input class="form-control my-2 mb-4" type="password" name="password1" placeholder="비밀번호" required="required" id="password1" value="{{ form.password1.value|default_if_none:'' }}">
              <label class="main_color1 fw-bold">비밀번호 확인</label>
              <input class="form-control my-2 mb-4" type="password" name="password2" placeholder="비밀번호 확인" required="required" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
              {% comment %} <label class="main_color1 fw-bold">Github 주소</label>
              <input class="form-control my-2 mb-4" type="text" name="username" autofocus="autofocus" autocapitalize="none" maxlength="150" placeholder="github.com/qwer1234" required="required" id="user_github">
              <label class="main_color1 fw-bold">경력</label>
              <span class="form-text">
                신입일 경우 0을 입력해주세요.
              </span>
              <input class="form-control my-2 mb-4" type="text" name="username" autofocus="autofocus" autocapitalize="none" maxlength="150" placeholder="#년차"
               required="required" id="user_career"> {% endcomment %}
            </div>
            <div class='text-center'>
              <button type="submit" class="btn login_btn">회원가입
              </button>
            </div>
          </form>
        
        {% else %}
          <input type="submit" value='수정' class='btn login_btn'>
        {% endif %}
      </div>
    </div>
{% endblock content %}