{% load static %}
<!-- 배너 부분 carousel -->
<div class="row">
  <!-- 배너 carousel 좌측 버튼 -->
  <button class="bg-light carousel-btn col-1 fs-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <i class="bi bi-arrow-left"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <div id="carouselExampleControls" class="col-10 carousel slide" data-bs-ride="carousel">
    <div class="py-3 fs-5 fw-bold">인기글 - <span class="pink">TOP 9</span></div>
    <div class="row carousel-inner">
  
      <!-- 배너 carousel 1페이지 -->
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          {% for job in Joblists|slice:":3" %}
            <div class="col mb-4">
              {% comment %} <a href="{% url 'jobs:detail' job.pk %}" class="text-decoration-none text-dark"> {% endcomment %}
              <div class="card" style="width: 23rem;">
                <div class="w-100" style="height: 23rem; position: relative;">
                  <img src="{% static 'images/0.png' %}" alt="" class="h-100 card-img-top">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ job.job_name }}</h5>
                  <p class="my-3 gray card-text text-truncate">{{ job.position }}</p>
                  <p class="card-text">{{ job.pseudo_position }}</p>
                </div>
              </div>
              {% comment %} </a> {% endcomment %}
            </div>
          {% endfor %}
        </div>
      </div>
  
      <!-- 배너 carousel 2페이지 -->
      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          {% for job in Joblists|slice:"3:6" %}
            <div class="col mb-4">
              {% comment %} <a href="{% url 'jobs:detail' job.pk %}" class="text-decoration-none text-dark"> {% endcomment %}
              <div class="card" style="width: 23rem;">
                <div class="w-100" style="height: 23rem; position: relative;">
                  <img src="{% static 'images/1.png' %}" alt="" class="h-100 card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ job.job_name }}</h5>
                  <p class="my-3 gray card-text text-truncate"><i class="pink bi bi-geo-alt"></i> {{ job.position }}</p>
                  <p class="card-text"><i class="pink bi bi-hash"></i> {{ job.pseudo_position }}</p>
                </div>
              </div>
            {% comment %} </a> {% endcomment %}
            </div>
          {% endfor %}
        </div>
      </div>
  
      <!-- 배너 carousel 3페이지 -->
      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          {% for job in Joblists|slice:"6:9" %}
            <div class="col mb-4">
              {% comment %} <a href="{% url 'jobs:detail' job.pk %}" class="text-decoration-none text-dark"> {% endcomment %}
              <div class="card" style="width: 23rem;">
                <div class="w-100" style="height: 23rem; position: relative;">
                  <img src="{% static 'images/2.png' %}" alt="" class="h-100 card-img-top">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ job.job_name }}</h5>
                  <p class="my-3 gray card-text text-truncate"><i class="pink bi bi-geo-alt"></i> {{ job.position }}</p>
                  <p class="card-text"><i class="pink bi bi-hash"></i> {{ job.pseudo_position }}</p>
                </div>
              </div>
              {% comment %} </a> {% endcomment %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- 배너 carousel 우측 버튼 -->
  <button class="bg-light carousel-btn col-1 fs-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <i class="bi bi-arrow-right"></i>
    <span class="visually-hidden">Next</span>
  </button>
  </div>