{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="container mt-3">
  <h1 class="main_color1 fw-bold mt-3 mb-3 text-center"><img src="{% static '/images/logo.png' %}" style="width:58px; height:58px;">
    모집 중인 공고</h1>

  <!-- content -->
  <section class="container">
    <div class="row d-flex justify-content-between">
      {% for job in Joblists %}
        <div class="card col-3 ms-1 px-3 g-lg-3" style="width:33%;">
          <div class="card-body">
            <h5 class="card-title fw-bold main_color1">
              <a href="{% url 'articles:detail' job.pk %}" class="main_color1 text-decoration-none">📌 {{ job.job_name }}</a>
              <hr>
            </h5>
            <div class="card-subtitle mt-2 mb-2 text-muted">{{ job.position }}</div>
            <p class="card-text">
                {{ job.pseudo_position }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

</div>
{% endblock content %}