{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class='container'>
    <div>
      <div class='d-flex justify-content-between mt-3'>
        <h3>{{post.title}}</h3>
        <p class='text-center'>
          조회수 :
          {{ post.hits }}
        </p>
      </div>      
      <div>
        {% if post.user.profile %}
          <a href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{{ post.user.profile.url }}" alt=""></a>
        {% else %}
          <a href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{% static '/images/profile/user.png'%}" alt=""></a>
        {% endif %}
        <a class='text-decoration-none text-muted fw-bold' href="{%url 'accounts:detail' post.user.pk%}">{{post.user.username}}</a>
      </div>

      <!-- 이미지 -->
      <div class='mt-5'>
        {% if post.photo_set %}
          {% for photo in post.photo_set.all %}
            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.image.image }}" style="width: 300px; height: 300px;">
          {% endfor %}
        {% else %}
        {% endif %}
      </div>
      <!-- 글내용 -->
      <h5 class='text-muted mt-5'>{{post.content}}</h5>
      <div class='d-flex justify-content-between mt-5'>
        <p>{{post.created_at}}</p>
        {% if request.user == post.user %}
          <div class='d-flex'>
            <a href="{% url 'posts:update' post.pk %}">
              <button class="btn post_detail_comment_btn">수정
              </button>
            </a>
            <form action="{% url 'posts:delete' post.pk %}" method='POST'>
              {% csrf_token %}
              <input type="submit" value='삭제' class="btn btn-danger">
            </form>
          </div>
        {% endif %}
      </div>
      <!-- 좋아요 -->
      {% if user.is_authenticated %}
        {% if request.user in post.like.all %}
          <button type="button" style="opacity: 0.8;" data-post-id='{{ post.pk }}' id='fav-btn' class="btn post_detail_bookmark_btn bi bi-hand-thumbs-up-fill"></button>
        {% else %}
          <button type="button" id='fav-btn' data-post-id='{{ post.pk }}' style="opacity: 0.8;" class=" btn post_detail_bookmark_btn bi bi-hand-thumbs-up"></button>
        {% endif %}

        <span id='fav-count' class="text-center">{{ post.like.count }}</span>
        <span class="text-center">좋아요</span>
      {% endif %}
    </div>
    <hr>
    <!-- 댓글 -->
    <!-- <div id="comments">    </div> -->

    {% for comment in comments %}
      {% if comment.parent_comment == NULL %}
        <div class="row">
          <div class="d-flex">
            <div class='d-flex align-self-center'>
              {% if comment.user.profile %}
                <a class='align-self-center'href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{{ comment.user.profile.url }}" alt=""></a>
              {% else %}
                <a class='align-self-center' href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{% static '/images/profile/user.png'%}" alt=""></a>
              {% endif %}
              <a style="text-decoration:none" class="align-self-center text-center text-dark mx-2 fw-bold" href="{%url 'accounts:detail' comment.user.pk%}">{{comment.user}}</a>
            </div> 
            <div class=" align-self-center">{{comment.content}}</div>
          </div>
          <div>
            <div class='d-flex align-self-center' style='float:right;'>
              <div>
                <button class="btn post_detail_comment_btn btn-sm" type="button"><a class="text-decoration-none" style="color:white;"data-bs-toggle="collapse" href="#collapse{{comment.pk}}">답글달기</a>
                </button>
              </div>
              {% if request.user == comment.user %}
              <button class="btn post_detail_comment_btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#comment" aria-expanded="false" aria-controls="collapseExample">
                수정
              </button>  
              <form action="{% url 'posts:comments_delete' post.pk comment.pk %}" method="POST" class="align-self-center">
                {% csrf_token %}
                <button class="btn post_detail_comment_btn btn-sm" type="submit" value="삭제">삭제</button>
              </form>
              {% endif %}
            </div>
          </div>
            
   
          
        </div>
        {% comment %} 댓글수정 {% endcomment %}
        {% if request.user == comment.user %}  
        <div class="collapse" id="comment">
          <form action="{% url 'posts:comments_update' post.pk comment.pk %}" method="POST" class="align-self-center">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input class="btn post_detail_comment_btn btn-sm" type="submit" value="수정">
          </form>
        </div>
        {% endif %}
        <hr>

        <!-- 대댓글 반복 -->
        {% for recom in comment.recomment.all %}
          <div class='row'>
            <div class='d-flex'>
              <div class="d-flex align-self-center text-center ms-5">
                <i class="bi bi-arrow-return-right"></i>
                  {% if recom.user.profile %}
                    <a href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{{ recom.user.profile.url }}" alt=""></a>
                  {% else %}
                    <a href="{%url 'accounts:detail' post.user.pk%}"><img class='post_profile_img mx-1' src="{% static '/images/profile/user.png'%}" alt=""></a>
                  {% endif %}
                  <a href="{% url 'accounts:detail' recom.user.pk %}" style="text-decoration:none" class="text-dark align-self-center mx-2 fw-bold">{{ recom.user.username }}</a>
              </div>
              <div class="align-self-center">
                {{ recom.content }}
              </div>
            </div>
            <div>
              <div class='d-flex align-self-center' style='float:right;'>
                {% if request.user == recom.user %}
                  <form action="{% url 'posts:recomments_delete' post.pk recom.pk %}" method="POST" class="align-self-center">
                    {% csrf_token %}
                    <input class="btn post_detail_comment_btn btn-sm" type="submit" value="삭제">
                  </form>
                  <button class="btn post_detail_comment_btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#recomment" aria-expanded="false" aria-controls="collapseExample">
                    수정
                  </button>
                {% endif %}
              </div>  
            </div>
            
          </div>
          {% if request.user == recom.user %}
            <div class="collapse" id="recomment">
              {% comment %} 답글수정 {% endcomment %}
              <form action="{% url 'posts:recomments_update' post.pk comment.pk recom.pk%}" method="POST" class="align-self-center">
                {% csrf_token %}
                {% bootstrap_form recomment_form %}
                <input class="btn post_detail_comment_btn" type="submit" value="수정">
              </form>
            </div>
            {% endif %}
          <hr>
        {% endfor %}
        <div class="px-3 my-3 collapse" id="collapse{{comment.pk}}">
          <form action="{% url 'posts:recomments_create' post.pk comment.pk %}" method="POST" class="border border-5 rounded p-3" style="background-color:whitesmoke;">
            {% csrf_token %}
            {% bootstrap_form recomment_form %}
            <div class="text-end">
              <input class="btn post_detail_recomment_btn " type="submit" value="답글 작성">
            </div>
          </form>
        </div>
      {% else %}
      {% endif %}
    {% endfor %}
    <div class="px-3 my-3">
      <form action="{% url 'posts:comments_create' post.pk %}" method="POST" class="border border-5 rounded p-3" style="background-color:whitesmoke;">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <div class="text-end"><input class="btn post_detail_comment_btn" type="submit" value="댓글 작성">
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script>
    const favBtn = document.querySelector('#fav-btn')

    favBtn.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      console.log(event.target.dataset.postId)

      axios({method: 'get', url: `http://127.0.0.1:8000/posts/${event.target.dataset.postId}/like/`}).then(response => {
        if (response.data.is_likes === true) { // 즐찾 했으면
          event
            .target
            .classList
            .add('bi-hand-thumbs-up-fill')
          event
            .target
            .classList
            .remove('bi-hand-thumbs-up')
        } else {
          event
            .target
            .classList
            .add('bi-hand-thumbs-up')
          event
            .target
            .classList
            .remove('bi-hand-thumbs-up-fill')
        }
        const favCount = document.querySelector('#fav-count')
        favCount.innerText = response.data.likes_count
      })
    })
  </script>

  <!-- <script>
    const commentForm = document.querySelector('#comment-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    commentForm.addEventListener('submit',function(event){
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
      event.preventDefault()
      axios({
        method: 'post',
        url: `/posts/${event.target.dataset.postId}/comments/`,
        headers: {'X-CSRFToken': csrftoken},
        data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
      })
      .then(response => {
        console.log(response.data)
        // 댓글을 추가하는 로직
        const comments = document.querySelector('#comments')
        const p = document.createElement('p')
        p.innerText = `${response.data.userName} | ${response.data.content}`
        const hr = document.createElement('hr')
        comments.append(p, hr) 
        commentForm.reset()
      })
    })
  </script>  -->
{% endblock script %}
