{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class='container'>
    <div class='m-auto' style=' width:80%'>
      <h3 class='d-flex'>
        <div style="color:#7689DE;">'{{search}}'</div>
        <div>검색 결과 입니다.</div>
      </h3>
      <div>{{text}}</div>
    </div>
    <div class='m-auto' style=' width:80%'>
      <div class='search_result p-3 rounded'>
        <h3>채용정보</h3>
        {% for job in jobs %}
          <div class='d-flex'>
            <i class="bi bi-person-workspace mx-1"></i>
            <a class='text-decoration-none text-muted' href="{%url 'articles:detail' job.pk%}">
              <p>{{job.job_name}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class='search_result p-3 rounded'>
        <h3>채용정보 댓글</h3>
        {% for comment in job_comments %}
          <div class='d-flex'>
            <i class="bi bi-chat-square-dots mx-1"></i>
            <a class='text-decoration-none text-muted' href="{%url 'articles:detail' comment.jobs.pk%}">
              <p>{{comment.content}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class='search_result p-3 rounded'>
        <h3>게시글</h3>
        {% for post in posts %}
          <div class='d-flex'>
            <i class="bi bi-postcard mx-1"></i>
            <a class='text-decoration-none text-muted' href="{%url 'posts:detail' post.pk%}">
              <p>{{post.title}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class='search_result p-3 rounded'>
        <h3>댓글</h3>
        {% for comment in comments %}
          <div class='d-flex'>
            <i class="bi bi-chat-square-dots mx-1"></i>
            <a class='text-decoration-none text-muted' href="{%url 'posts:detail' comment.article.pk%}">
              <p>{{comment.content}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
{% endblock content %}