{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}


<div class="container my-5">

  <form action="" method="POST" class="" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form post_form %}
    <div class="mb-3">
      <label class="form-label" for="id_image">사진</label>
      <input type="file" name="imgs" multiple accept="image/*" class="form-control" id="id_image">
      {% if photo_list %}
      <div class="row mt-1">
        <div class="col-auto">
            현재:&nbsp;
            {% for photo in photo_list %}
            <a href="{{ photo.image.url }}">{{ photo.image }}</a>
            {% endfor %}
        </div>
        <div class="col-auto">
          <div class="form-check">
              <input type="checkbox" name="image-clear" id="image-clear_id" class="form-check-input">
              <label for="image-clear_id" class="form-check-label">취소</label>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="text-end"><input class="btn btn-primary" type="submit" value="수정"></div>
  </form>
  
</div>


{% endblock content%}
